# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Build directories
build/
dist/

# Logs
*.log

# Docker
.dockerignore

helm/charts
helm/Chart.lock

